.section_white {
	+ * {
		padding-top: 0 !important;
		
		&::before {
			content: '';
			height: 134rem;
			background: svg-load('../img/white_bottom-bg.svg') no-repeat;
			background-size: 100% 100%;
			filter: drop-shadow(0 50rem 50rem rgba(226, 226, 226, 0.1));
			margin-top: -1px;
			margin-bottom: 50rem;
			
			@media @sm {
				height: 270rem;
			}
		}
	}
}

.section_black {
	+ * {
		padding-top: 0 !important;
		
		&::before {
			content: '';
			height: 122rem;
			background: svg-load('../img/black_bottom-bg.svg') no-repeat;
			background-size: 100% 100%;
			margin-top: -1px;
			margin-bottom: 1em;
			
			@media @sm {
				height: 226rem;
			}
		}
	}
}

.section_palered {
	+ * {
		padding-top: 0 !important;
		
		&::before {
			content: '';
			height: 122rem;
			background: svg-load('../img/palered_bottom-bg.svg') no-repeat;
			background-size: 100% 100%;
			margin-top: -1px;
			margin-bottom: 1em;
			
			@media @sm {
				height: 224rem;
			}
		}
	}
}

.stripes {
	+ * {
		padding-top: 0 !important;
		
		&::before {
			content: '';
			height: 110rem;
			background: svg-load('../img/stripes-bg.svg') no-repeat;
			background-size: 100% 100%;
			// filter: drop-shadow(0 30rem 100rem rgba(0, 0, 0, 0.4));
			margin-top: -1px;
			
			@media @sm {
				height: 220rem;
			}
		}
	}
}

.stripes1 {
	+ * {
		padding-top: 0 !important;
		
		&::before {
			content: '';
			height: 300rem;
			background: svg-load('../img/stripes1-bg.svg') no-repeat;
			background-size: 100% 100%;
			margin-top: -1px;
			margin-bottom: -150rem;
			
			@media @sm {
				height: 600rem;
				margin-bottom: -400rem;
			}
		}
	}
}

.stripes2 {
	+ * {
		padding-top: 0 !important;
		
		&::before {
			content: '';
			height: 204rem;
			background: svg-load('../img/stripes2-bg.svg') no-repeat;
			background-size: 100% 100%;
			margin-top: -1px;
			margin-bottom: -40rem;
			
			@media @sm {
				height: 408rem;
				margin-bottom: -80rem;
			}
		}
	}
}

.stripes3 {
	+ * {
		padding-top: 0 !important;
		
		&::before {
			content: '';
			height: 152rem;
			background: svg-load('../img/stripes3-bg.svg') no-repeat;
			background-size: 100% 100%;
			margin-top: -1px;
			
			
			@media @sm {
				height: 306rem;
			}
		}
	}
}

.stripes4 {
	+ * {
		padding-top: 0 !important;
		
		&::before {
			content: '';
			height: 170rem;
			background: svg-load('../img/stripes4-bg.svg') no-repeat;
			background-size: 100% 100%;
			margin-top: -1px;
			
			@media @sm {
				height: 340rem;
			}
		}
	}
}

.stripes5 {
	+ * {
		padding-top: 0 !important;
		
		&::before {
			content: '';
			height: 120rem;
			background: svg-load('../img/stripes5-bg.svg') no-repeat;
			background-size: 100% 100%;
			margin-top: -1px;
			
			@media @sm {
				height: 220rem;
			}
		}
	}
}
