@import (optional) 'index/fonts';
@import (optional) 'index/grid';
@import (optional) 'index/reset';

html {
	font-size: .55px;
	
	@media @sm {
		font-size: .6px;
	}
	@media @md {
		font-size: .7px;
	}
	@media @lg {
		font-size: .8px;
	}
	@media @xl {
		font-size: .9px;
	}
	@media @xx {
		font-size: 1px;
	}
}

body {
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	font-size: 20rem;
	line-height: 1.25;
	font-family: Roboto;
	background-color: #222222;
}

body > header {
	background-color: #000;
	font-size: 18rem;
	
	.header {
		border-bottom: 1px solid rgb(159, 2, 1);
		padding: 20rem 0;
		
		.container {
			.r;
			justify-content: space-between;
			align-items: center;
			
			> :not(:last-child):not(:first-child) {
				margin-right: 15px;
				margin-left: 15px;
			}
			
			.logo {
				max-width: 170rem;
				
				@media @xl {
					margin-right: 170rem;
				}
			}
			
			.tel {
				.c;
				
				> * {
					margin-bottom: .25em;
				}
			}
		}
	}
	
	nav {
		ul {
			.r;
			justify-content: center;
		}
		
		a {
			padding: 20rem 30rem;
			border-bottom: 4px solid transparent;
			
			&:hover {
				border-color: rgb(159, 2, 1);
			}
		}
	}
}

body > footer {
	// padding-top: 484rem;
	padding-top: 50rem;
	font-size: 18rem;
	background-color: #000;
	background: #000 url(../img/footer.png) bottom no-repeat;
	background-size: cover;
	
	.footer .row {
		justify-content: center;
		
		.logo {
			max-width: 304rem;
			margin-left: auto;
			margin-right: auto;
		}
		
		nav {
			.c;
			align-items: center;
			
			ul {
				columns: 2;
				column-gap: 76rem;
			}
		}
		
		.socials {
			.c;
			
			ul {
				display: flex;
				align-self: center;
				font-family: 'Font Awesome 5 Brands';
				
				@media @sm {
					flex-direction: column;
					align-self: flex-end;
				}
				
				li {
					text-align: center;
					width: 24px;
					margin-bottom: 1em;
				}
			}
		}
	}
	
	.ps {
		font-size: 16rem;
		text-align: center;
		margin-bottom: 1em;
	}
}

.logo {
	filter: drop-shadow(5px 5px 5px #222);
}

.main .container {
	display: flex;
}

b {
	color: rgb(149, 36, 38);
	font-weight: 700;
}

p {
	line-height: 1.4;
}

.btn {
	color: #fff;
	background-color: rgb(149, 36, 38);
	font-size: 18rem;
	font-weight: 500;
	text-align: center;
	border-radius: 50rem;
	padding: 16rem;
	margin-bottom: 1em;
	width: 290rem;
	
	&.invert {
		background-color: #fff;
		color: rgb(149, 36, 38);
		border: 1px solid rgb(149, 36, 38);
	}
}

.recall {
	color: rgb(255, 145, 146);
	border-bottom: 2px dashed rgb(255, 145, 146);;
}

h2 {
	max-width: 700px;
	font-size: 48rem;
	font-weight: 700;
	line-height: 1.29;
	margin-bottom: 34rem;
}

.main_left {
	margin-right: 60rem;
	
	h2 {
		font-size: 28rem;
		font-weight: 900;
		line-height: 2;
		margin-bottom: .5em;
	}
}

.aside_categories {
	background-color: rgb(151, 36, 38);
	padding: 75rem 60rem 30rem 150rem;
	
	li {
		margin-bottom: 1em;
	}
}

.aside_filter {
	.c;
	// padding-left: 150rem;
	
	.btn {
		align-self: center;
	}
	.fieldset {
		.c;
		color: #000;
		background-color: #fff;
		border-radius: 5rem;
		overflow: hidden;
		margin-bottom: 18rem;
		
		.legend {
			display: flex;
			justify-content: space-between;
			font-size: 22rem;
			font-weight: 700;
			padding: 25rem;
			border-bottom: 1px solid #f1f1f1;
		}
		
		.list {
			padding: 20rem 8rem 8rem 28rem;
			
			label {
				margin-bottom: 1em;
			}
		}
	}
	
	.total {
		font-size: 20rem;
		font-weight: 500;
		align-self: center;
		margin-bottom: 1em;
	}
	
}

main.categories {
	
	.list {
		.r;
		padding: 40rem 0 105rem;
		margin: 0 -45rem;
		
		li {
			padding: 15rem 45rem;
		}
		
		figure {
			.c;
			align-items: center;
			
			.img {
				max-width: 230rem;
				filter: drop-shadow(0px 4px 50px #6A1819);
			}
			
			figcaption {
				font-size: 24rem;
				text-align: center;
				z-index: 1;
			}
		}
	}
	
	.description {
		li {
			margin-bottom: 67rem;
		}
	}
}

section.clients {
	
	h2 {
		font-size: 32rem;
	}
	
	ul {
		justify-content: space-evenly;
		align-items: center;
		
		li {
			margin-top: 100rem;
			max-width: 100%;
		}
	}
}

.section_white {
	padding-top: 180rem;
	color: #000;
	background-color: #fff;
	background: #fff url(../img/white.png) no-repeat center;
	background-size: 100% auto;
	
	+ * {
		padding-top: 0;
		
		&::before {
			content: '';
			height: 270rem;
			background: url(../img/white_bottom.svg) no-repeat;
			background-size: 100% 100%;
			// filter: drop-shadow(0 50rem 50rem rgba(226, 226, 226, 0.1));
			margin-top: -1px;
			margin-bottom: 50rem;
		}
	}
}

.stripes1 {
	+ * {
		padding-top: 0;
		position: relative;
		
		&::before {
			content: '';
			height: 400rem;
			background: url(../img/stripes1.svg) no-repeat;
			background-size: 100% 100%;
			margin-top: -1px;
			margin-bottom: -200rem;
			
			@media @xl {
				height: 600rem;
				margin-bottom: -400rem;
			}
		}
	}
}

.stripes2 {
	&::after {
		content: '';
		height: 222rem;
		background: #222222 url(../img/slice.png) no-repeat;
		background-size: 100% 100%;
		z-index: 1;
	}
	
	+ * {
		margin-top: -222rem;
	}
}
