@import (optional) 'index/fonts';
@import (optional) 'index/grid';
@import (optional) 'index/reset';

body {
	font-size: 16rem;
	line-height: 1.25;
}

body > header {
	background-color: #000;
	color: #fff;
	
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20rem 150rem;
		border-bottom: 1px solid rgb(159, 2, 1);
		
		.logo {
			width: 170rem;
			height: 126rem;
			margin-right: 170rem;
		}
		
		.tel {
			.c;
			
			> * {
				margin-bottom: .25em;
			}
		}
	}
	
	nav {
		padding: 0 150rem;
		
		ul {
			display: flex;
			justify-content: space-around;
		}
		
		a {
			padding: 20rem 32rem;
			border-bottom: 4px solid transparent;
			
			&:hover {
				border-color: rgb(159, 2, 1);
			}
		}
	}
}
